.header {
    padding: 1rem 0;
    display: flex;
    background-color: brown;
    color: white;
    justify-content: center;
    font-size: 1.2rem;
    font-family: sans-serif;
}

ul {    
    display: flex;
    flex-direction: row;
    gap: 20px;
}

li {
    list-style-type: none;
}