@import "./variables-css/variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    background-color: var(--main-bg-color);
    height: 100vh;
    color : var(--main-text-color);
    font-size: var(--common-fs);
    font-family: var(--common-font-family);
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning {
    background-color: yellow;
}