@import "../../variables-css/variables.scss";

.main_button {
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    padding: .5rem 2rem;
    border: 1.5px solid black;
    border-radius: 10px;
    transition: 100ms linear;
}

.main_button:hover {
    background-color: green;
    color: white;
}