:root {
    --main-bg-color : indigo ;
    --secondary-bg-color :#7900d0d0 ;
    --main-text-color : white ;
    --secondary-text-color : rgb(213, 213, 213) ;
    --common-font-family : sans-serif ;
    --common-fs : 1.2rem ;
    --common-padding : 1.5rem;
    --common-margin : 1.5rem;
}